allure-pytest==2.9.45
allure-python-commons==2.9.45
atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
elementpath==2.5.0
idna==3.3
iniconfig==1.1.1
iso4217==1.9.20220401
loguru==0.6.0
lxml==4.8.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.8
pytest==7.1.2
requests==2.27.1
six==1.16.0
tomli==2.0.1
urllib3==1.26.9
win32-setctime==1.1.0
xmlschema==1.10.0
xmltodict==0.12.0
